

#check{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    justify-content: center;
    height: 500px;
    padding: 55px;
}

#btn3 {
    
    margin: 15px;
    padding: 8px;
    border: 2px solid black;
    background-color: rgb(202, 38, 38);
    border-radius: 6px;
    color: white;

}