.helpline-container{
    padding: 35px;
    text-align: center;
    height: 520px;
    display: flex;
    flex-direction: column;
}

#b1 ,#b2 {
    padding: 50px;
    margin-top: 20px;
    color: rgb(214, 63, 63);

}

.jumbotron.jumbotron-fluid{
    margin: 7rem;
}