*{
    margin:0;
    padding:0;

}
html{
    scroll-behavior: smooth;
}
:root{
    --navbar-height:59px;

}



.nav{
    background-color: black;
    width: 100%;
    max-height: 80vh;
    top: 0px;
    left: 0px;
    
}

ul{
     
    display: flex;
    flex-direction: row;
    padding: 9px;
    

}

ul li {
    list-style: none;
    padding: 17px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#home-container{
    height: 278px;
    
    display: flex;
    flex-direction: row;
    
    
}
#flag{
    width: 234px;
    height: 136px;
    margin-left: 300px;
    margin-top: 55px;

}
#emb{

    width: 214px;
    height: 236px;
    margin-right: 100px;
    margin-top: 25px;

}

.home-content{

    font-size: 21px;
   
    display: flex;
    flex-direction: row;
    align-items: center;
}


.home-content img{
    width: 200px;
    height: 201px;
    margin-right: 100px;
}

#heading{
   
    margin: auto;
    font-size: -0.5rem;
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

.btn2{
    background: rgb(64, 91, 131);
    margin-top: 15px;
    margin: 17px 7px;
    padding: 12px;
    color: white;
    
}
.logs{
    margin-left: 600px;
    display: flow-root;
    
}
/*  dropdown */

.dropdown .btn5 {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top:15px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
  }
  
.dropdown-content a:hover {background-color: rgb(218, 160, 194)}
  
.dropdown:hover .dropdown-content {
    display: block;
  }
  
.dropdown:hover .btn5 {
    background-color: #3e8e41;
  }


.messages  {
    font-size: 25px;
    color: green;
    margin-left: 35px;
}


#b_log{
    padding: 15px;
    margin: 15px;
    background: black;
    color: white;
    outline: none;
    border: 2px solid red;
}