

{% extends 'cyber_cell/base.html' %}



{% block title %} Complaint {% endblock %}

{% block body %}








<div class="jumbotron jumbotron-fluid">
    <div class="helpline-container">
        <b style="font-size:45px" id="b1"> <i class="fa fa-phone" aria-hidden="true"></i> Helpline Number - 155260</b>
         <br /><br /><b style="font-size:45px" id="b2"> <i class="fa fa-clock-o" style="font-size:36px"></i>
            09:00 AM To 06:00 PM  </b>

                
    </div>
  </div>



  {%endblock%}