{% extends 'cyber_cell/base.html' %}



{% block title %} Report_Crime {% endblock %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-6"> Filing a Complaint for a Cyber Crime</h1>
    <p class="lead">This portal is an initiative of Government of India to facilitate victims/complainants to report cyber crime complaints online. This portal caters to complaints pertaining to cyber crimes only with special focus on cyber crimes against women and children. Complaints reported on this portal are dealt by law enforcement agencies/ police based on the information available in the complaints. It is imperative to provide correct and accurate details while filing complaint for prompt action.

    </p>
    
    <p class="lead">
    Please contact local police in case of an emergency or for reporting crimes other than cyber crimes. National police helpline number is 100. National women helpline number is 181..</p>

      <a class="btn btn-primary btn-lg " href="https://en.wikipedia.org/wiki/Cybercrime" role="button">Learn more about cyber crime</a>
      <a class="btn btn-primary btn-lg " href="/cyber_cell/complaint/" role="button" style="float:right">File a Complaint</a>
    </p>
  </div>




{% endblock %}